@using SelenMebel.Service.DTOs.Accounts;
@model AccountLoginDto
@{
    Layout = "_AccountLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }

        .login-container {
            margin: 0 auto;
            width: 300px;
            margin-top: 100px;
        }

            .login-container h2 {
                text-align: center;
            }

        .login-form {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form-group input[type="text"],
            .form-group input[type="password"] {
                width: calc(100% - 12px);
                padding: 6px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            .form-group input[type="submit"] {
                width: 100%;
                padding: 8px;
                border: none;
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
                border-radius: 3px;
            }

                .form-group input[type="submit"]:hover {
                    background-color: #0056b3;
                }
    </style>
</head>
<body class="gradient-custom">
    <div class="login-container">
        <h2>Login</h2>
        <div class="login-form">
            <form asp-controller="Accounts" asp-action="Login" method="post">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="+998971234567" required />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password:</label>
                    <input type="password" name="password" required id="inputPassword" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">Show</button>
                    </div>
                </div>
                <div class="form-group">
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="https://t.me/verificationserenmebel_bot">Forgot password?</a></p>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordInput = document.getElementById('inputPassword');
        var button = this;
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            button.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            button.textContent = "Show";
        }
    });
</script>
